In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
race_list = df['race'].unique().tolist()
race_list

['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [30]:
df.groupby(['race']).count()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
race,,,,,,,,,,,,,,
Amer-Indian-Eskimo,311,311,311,311,311,311,311,311,311,311,311,311,311,311
Asian-Pac-Islander,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039,1039
Black,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124,3124
Other,271,271,271,271,271,271,271,271,271,271,271,271,271,271
White,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816,27816

In [114]:
a = df['race'].value_counts()
a

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [61]:
df_edu = df.groupby('education')['age'].count()

percentage_bachelors = (df_edu.Bachelors/shape[0]*100).round(2)
percentage_bachelors

16.45

In [56]:
shape = df.shape
shape[0]

32561

In [196]:
edu_sal = df.groupby(['education','salary'])['age'].count()
edu_advanced_sal = edu_sal.Bachelors + edu_sal.Masters + edu_sal.Doctorate
percentage_edu_adv = (edu_advanced_sal['>50K']/shape[0]*100).round(2)
percentage_edu_adv

10.71

In [87]:
higher_edu = (edu_advanced_sal.sum()/shape[0]*100).round(2)
lower_edu = ((shape[0]-edu_advanced_sal.sum())/shape[0]*100).round(2)
higher_edu, lower_edu

(23.01, 76.99)

In [89]:
df_sal = df.groupby('salary')['age'].count()
df_sal

salary
<=50K    24720
>50K      7841
Name: age, dtype: int64

In [191]:
higher_sal = (df_sal['>50K']/shape[0]*100).round(2)
lower_sal = ((df_sal['<=50K']/shape[0])*100).round(2)
higher_sal, lower_sal

(24.08, 75.92)

In [104]:
df.groupby(['hours-per-week','salary'])['age'].count()

hours-per-week  salary
1               <=50K     18
                >50K       2
2               <=50K     24
                >50K       8
3               <=50K     38
                          ..
97              >50K       1
98              <=50K      8
                >50K       3
99              <=50K     60
                >50K      25
Name: age, Length: 173, dtype: int64

In [115]:
min_work_hours = df['hours-per-week'].min()
min_our_workers

1

In [119]:
 num_min_workers = df[df['hours-per-week']==df['hours-per-week'].min()].shape[0]
 num_min_workers

20

In [117]:
num_min_workers_over_50k = sum(df[df['hours-per-week']==df['hours-per-week'].min()]['salary']=='>50K')
num_min_workers_over_50k

2

In [120]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [182]:
df_country = df['native-country'].where(df['salary']=='>50K').value_counts()
df_country.head()

United-States    7171
?                 146
Philippines        61
Germany            44
India              40
Name: native-country, dtype: int64

In [180]:
df_country.sort_values(ascending=False).index[0]

'United-States'

In [202]:
highest_earing_country_per = (df_country.max()/shape[0]*100)
highest_earing_country_per = round(highest_earing_country_per,2)
highest_earing_country_per

22.02

In [215]:
df_occupation_India = df['occupation'].where(df['salary']=='>50K').where(df['native-country']=='India').value_counts()
top_IN_occupation = df_occupation_India.index[0]
top_IN_occupation

'Prof-specialty'